@font-face {
    font-family: "Trajan";
    src: url(TrajanPro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "District Thin";
    src: url(DistProTh.otf) format("truetype");
}


header{
    font-family: Trajan, helvetica, sans-serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
    font-family: Trajan, helvetica, sans-serif;
}

header#top{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

span.top_head{
    font-size: 40pt;
    margin-bottom: 500px;
}

span.top_caption{
    font-style: italic;
}

span.lang_language{
    margin-left: 85%;
    color: orange;
}

span.lang_language a:visited{
    color: orange;
}

span.lang_language a:hover{
    color: #2020FF;
}

body{
    width: 90%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    background-color: #FCFCFC;
}

section{
    font-family: "District Thin", Georgia, serif;
}

nav#nav_bar{
    width: 100%;
    background-color: #333333;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 8px;
    color: #ffffff;

    font-family: "Lucida Console", "courier new", courier, monospace;
    text-align: center;
}

nav#nav_bar a{
    color: #ffffff;
}

nav#nav_bar a:hover{
    color: #dcdcdc;
}

nav#nav_bar a:visited{
    color: #989898;
}

nav#nav_gadgets{
    font-family: "Lucida Console", "courier new", courier, monospace;
}
nav#nav_gadgets ul{
    list-style-image: url('img/bullet.png');
}

nav#nav_gadgets ul.l1{
    font-size: 13pt;
}

nav#nav_gadgets ul.l2{
    font-size: 11pt;
}

nav#nav_gadgets ul.l3{
    font-size: 9pt;
    text-decoration: underline;
    cursor: pointer;
}




div#gadget_container{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


div#gadget_navbox{
    width: 40%;
    max-width: 220px;
    min-width: 150px;
    float: left;
    margin-top: 20px;
}

div#gadget_separator{
    width: 2px;
    background-color: #606060;
    margin-top: 14px;
    margin-bottom: 20px;
    height: 340px;
    float: left;
}

div#gadget_content{
    overflow: hidden;
    padding-left: 30px;
}

div#gadget_content img{
    width: 62%;
    border-radius: 15px;
    border: outset thick;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}

div#gadget_shopper{
    width: 100%;
    margin-top: 35px;
    position: absolute;
    bottom: 0;
}

output#checkout_cost{
    font-style: italic;
}

div#gadget_shopper button, div#checkout_bottom button{
    background-color: #ff952c;
    font-family: Trajan, helvetica, sans-serif;
    width: 120px;
    height: 50px;
    border-radius: 10px;
}

div#checkout_gadget{
    width: 100%;
    height: 28px;
    padding-top: 9px;
    border-bottom: dotted #525252 2pt;
    margin-bottom: 20px;
}

div#checkout_gadget div#checkout_gadget_name{
    overflow: hidden;
    padding-left: 20px;
}

div#checkout_gadget div#checkout_gadget_price{
    float: right;
    width: 150px;
}

div#login_ref{
    font-size: 9pt;
}

div#shopping_cart{
    float: right;
    width: 130px;
    height: 115px;
    background-color: #a7a7a7;
    border: solid 2px;
}

div#shopping_cart div#shopping_title{
    padding-left: 5px;
    width: 125px;
    height: 19px;
    background-color: #ff952c;
    font-family: Trajan, helvetica, sans-serif;
    font-size: 10pt;
    padding-top: 4px;
    margin-bottom: -8px;
}

div#shopping_cart div#shopping_summary{
    width: inherit;
    height: 28px;
    background-color: #ff952c;
    padding-top: 3px;
    position: absolute;
    bottom: 2px;
}

div#shopping_cart div#shopping_content{
    padding-left: 5px;
    width: 100%;
    font-family: "Lucida Console", "courier new", courier, monospace;
    font-size: 9pt;
}

.float_right{
    float:right;
}

.float_center{
    text-align: center;
}

section#container{
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

section#content{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

footer{
    height: 100px;
    width: 100%;
    clear: both;
    text-align: center;
    margin-bottom: 50px;
}